/* external font definition */	
@font-face {
        font-family: LatoLight;
        src: url(../fonts/Lato-Light.ttf);
		}

/* main picture */
.img-responsive {
	    z-index:-2;
		top:0em;
	  } 
	 
 

/***************************************/
 /* style definitions for GALLERY page */
 /**************************************/
 
.carousel
        .itemPic {
			     top:0px; /* top of the container */
                 height:753px;
			   /*  background-color: #4a4a4a; */ 
				 background-color:hsl(0, 0%, 47%);
				 
                 /*background-color: red; bfbfbf  31343b*/  
                 }

 
.img-gallery{
             top:80px;
             }  

.leftArrow{
	       height:753px;
           }

.rightArrow{
	       height:753px;
           }

.carouselDots{
	          top: 51em;
             }

@media (max-width: 800px) {
.carousel
         .itemPic {
          height:420px;
		  background-color:#033d51;
    }
	
.leftArrow{
	       height:420px;
           }

.rightArrow{
	       height:420px;
           }
	
.carouselDots{
	          top: 8em;
             }	
	
} /* end of android customization */

@media (max-width: 1366px) {

.carouselDots{
	          top: 46em;
             }
} /* end of android customization


/****************************************/
 /* style definitions for BIOGRAPHY page */
 /****************************************/

.col-md-5{
         top:5.0em;
		 }

 .col-md-5
          .bioImage{
			   max-width:130%;
			   }
 
 @media (max-width: 800px) {

.col-md-5{
          top:1.5em;
		 }

 }