/* external font definition */	
@font-face {
        font-family: LatoLight;
        src: url(../fonts/Lato-Light.ttf);
		}
		
/* main picture */
.img0 {
	    position:absolute;
	    top:0px;
		left:0px;
		width:1597px;
		lenght:752px;
	     
	 } 

/* header */
.img1 {
	    position: absolute; 
		left:0px;
		top:0px;
		opacity: .3;  
      }

/* menu options */
.oph {
	    color:#f7f3f3;
        position:absolute;  
		top:50px;
		left:350px; 
		width:50px;
		font-family:LatoLight; 
		font-type:bold; 
		font-size:22px;
      }

.opg {
	    color:#f7f3f3;
        position:absolute;  
		top:50px;
		left:550px; 
		width:50px;
		font-family:LatoLight; 
		font-type:lighter; 
		font-size:22px;
      }

.opb {
	    color:#f7f3f3;
        position:absolute;  
		top:50px;
		left:750px; 
		width:50px;
		font-family:LatoLight; 
		font-type:lighter; 
		font-size:22px;
      }

/* temporal for HTML5 examples */

.ope {
	    color:#f7f3f3;
        position:absolute;  
		top:45px;
		left:950px; 
		width:50px;
		font-family:LatoLight; 
		font-type:lighter; 
		font-size:22px;
      }

/* table1 and table2 definition */
table 
     tbody 
	      tr 
		     td {
				 width:75px; 
				 height:75px
				 }

.t2
   tr 
     td {
	   
	   border: 1px solid white;
	   color:white;
	 }
	 
.t2
   tr 
     .td2 {
		  color:#fc0712;
	  }


.t2 {
	    background-color:#211917;
	    position:absolute; 
        left:05px; 
	    top:112px; 
		opacity: .7;
	    border: 1px solid white;
		border-collapse:collapse;
	}

/* francisco ron (txt) */
 p.head1 {
	    color:#fcfcfc;
        position:absolute;  
		left:10px; 
		top:-35px;  
		font-family:LatoLight; 
		font-type:lighter; 
		font-size:35px;
        }

/* quote */
h1.head2 {
	    font-family: LatoLight; 
        color:#cc9966; 
	    width:450px; 
	    font-size:48px; 
	    font-type:lighter; 
        position:absolute; 
        left:205px; 
	    top:400px;
	}
	
	
/* footer copyright (txt) */
 p.foot {
	    color:#faf5f5;
        position:absolute;  
		left:05px; 
		top:718px;  
		font-family:LatoLight; 
		font-type:lighter; 
		font-size:15px;
        }	


 /**********************************/
 /* style definitions for bio page */
 /**********************************/
 
/* biography */
p.biohead {
	    color:#fcfcfc;
        position:absolute;  
		left:10px; 
		top:-35px;  
		font-family:LatoLight; 
		font-type:lighter;
		font-size:35px;
        } 


/* photography (text)*/
p.biotitle {
	    color:#cc9966;
        position:absolute;  
		top:155px;
		left:390px; 
		font-family:LatoLight; 
		font-type:lighter; 
		font-size:48px;
        }
		
/* paragraph of bio */
p.biotxt {
	    color:#f7f3f3;
        position:absolute;  
		top:245px;
		left:350px; 
		width:450px;
		font-family:LatoLight; 
		font-type:lighter; 
		font-size:18px;
		line-height: 1.5;
		}
		
p.biotxt
        span {
			color:#cc9966;
			font-size:20;
		}

 
        aside
		     a{
	    position:absolute;  
		top:630px;
		left:350px; 
		color:f80a0a;
		font-family:LatoLight; 
		font-type:lighter; 
		font-size:18px;
		line-height: 1.5;
		}


/* image fr */
.imgbio {
	    position:absolute;
	    top:200px;
		left:850px;
		width:607px;
		lenght:415px;
	    } 
		
/***************************************/
 /* style definitions for gallery page */
 /**************************************/
	 
.imgw {
	    position:absolute;
	    top:110px;
		left:430px;
		width:942px;
		lenght:61opx;
	   }
	   
p.wtitle {
	    color:#cc9966;
        position:absolute;  
		top:320px;
		left:180px; 
		font-family:LatoLight; 
		font-type:lighter; 
		font-size:48px;
        }
