/*  ************************************************************
    *                CSE 322 (Fall 2013)                       *
    *  index.html:   Initial page for the web site             *
    *  created by:   Francisco Ron                             *
    *  date      :   10/04/2013                                *
    *  hwk       :    #2                                       *
    ************************************************************   */
	
/* first three lines at the top of the screen, two transparencies separated by a 
   single grey line */
#line1 {position:absolute; left:0px; top:0px; opacity: .5;}
#line2 {position:absolute; left:0px; top:30px;}
#line3 {position:absolute; left:0px; top:41px; opacity: .5;}

/* to manipulate message at the bottom*/
#line4 {position:absolute; left:0px; top:650px; opacity: .7;}

/* tables: 1 for creating the frames, and 2 to manipulate the fonts of
   the word photography */
#t1 {position:absolute; left:05px; top:108px; opacity: .5;}
#t2 {position:absolute; left:05px; top:098px; opacity: .7;}

/* this one controls the format of the name text */
#head1 {color:rgb(212,211,212); position:absolute; left:15px; top:-20px; font-family:verdana; font-size:25px}

 