/*  ************************************************************
    *                CSE 322 (Fall 2013)                       *
    *  index.html:   Initial page for the web site             *
    *  created by:   Francisco Ron                             *
    *  date      :   10/04/2013                                *
    *  hwk       :    #2                                       *
    ************************************************************   */
	
/* first three lines at the top of the screen, two transparencies separated by a 
   single line */

/* this one controls the format of the name text */
#head1 {color:rgb(212,211,212); 
        position:absolute;  
		left:15px; 
		top:-20px;  
		font-family:verdana; 
		font-size:25px;
		opacity: .5}


/* web heading characteristics */
div img {left:0px; opacity: .5;}
#img1    {position: absolute; top:0px;}
#line    {position:absolute; top:31px; left:0px; size=5; width:100%}
#img2    {position:absolute; top:42px;}  

/* tables: 1 for creating the frames, and 2 to manipulate the fonts of
   the word photography */
table tbody tr td{width:75px; height:75px}

#t1 {position:absolute; 
     left:05px; 
	 top:108px; 
	 opacity: .5;}

#t2 {position:absolute; 
     left:05px; 
	 top:098px; 
	 opacity: .7;
	 color:white;}

/* to manipulate text at the bottom*/
#line4 {position:absolute; 
        left:0px; 
		top:650px; 
		opacity: .7;}

 