/* external font definition */	
@font-face {
        font-family: LatoLight;
        src: url(Lato-Light.ttf);
        }

/* this one controls the format of the name text */
#head1 {
	    color:#cc9966;
        position:absolute;  
		left:15px; 
		top:-20px;  
		font-family:verdana; 
		font-size:25px;
        }

/* heading of the page */
div 
   img {
	    left:0px; opacity: .5;
		}

#img1 {
	    position: absolute; 
		top:0px;
	  }

#line {
	    position:absolute; 
		top:31px; 
		left:0px; 
		size:5; 
		width:100%
	   }
	   
#img2 {
	    position:absolute; top:42px;
	  }  

/* table1 and table2 definition */
table 
     tbody 
	      tr 
		     td {
				 width:75px; 
				 height:75px
				 }

#t1 {
	    position:absolute; 
        left:05px; 
	    top:108px; 
	    opacity: .5;
	}

#t2 {
	    position:absolute; 
        left:05px; 
	    top:098px; 
	    opacity: .7;
	    color:white;
	}

/* to manipulate text at the bottom*/
h1 {
	    font-family: LatoLight; 
        color:#cc9966; 
	    width:450px; 
	    font-size:48px; 
	    font-type:lighter; 
        position:absolute; 
        left:160px; 
	    top:400px;
	}

 