/* external font definition */	
@font-face {
        font-family: LatoLight;
        src: url(../fonts/Lato-Light.ttf);
		}
		
/* main picture */
.img0 {
	    position:absolute;
	    top:0px;
		left:0px;
		width:1597px;
		length:752px;
	     
	 } 
	 
.backGround{
             background-color: #010101;
           }

/* header */
.img1 {
	    position: absolute; 
		left:0px;
		top:0px;
 		opacity: .3;  
      }

/* menu options */
.oph {
	    color:#cc9966;
        position:absolute;  
		top:50px;
		left:350px; 
		width:50px;
		font-family:LatoLight; 
		font-type:bold; 
		font-size:22px;
      }

.opg {
	    color:#cc9966;
        position:absolute;  
		top:50px;
		left:550px; 
		width:50px;
		font-family:LatoLight; 
		font-type:lighter; 
		font-size:22px;
      }

.opb {
	    color:#cc9966;
        position:absolute;  
		top:50px;
		left:750px; 
		width:50px;
		font-family:LatoLight; 
		font-type:lighter; 
		font-size:22px;
      }


/* table1 and table2 definition */
table 
     tbody 
	      tr 
		     td {
				 width:75px; 
				 height:75px
				 }

.t2
   tr 
     td {
	   
	   border: 1px solid white;
	   color:white;
	 }
	 
.t2
   tr 
     .td2 {
		  color:#fc0712;
	  }


.t2 {
	    background-color:#211917;
	    position:absolute; 
        left:05px; 
	    top:112px; 
		opacity: .7;
	    border: 1px solid white;
		border-collapse:collapse;
	}

/* francisco ron (txt) */
 p.head1 {
	    color:#cc9966;
        position:absolute;  
		left:10px; 
		top:-33px;  
		font-family:LatoLight; 
		font-type:lighter; 
		font-size:33px;
        }

/* quote */
h1.head2 {
	    font-family: LatoLight; 
        color:#cc9966; 
	    width:450px; 
	    font-size:48px; 
	    font-type:lighter; 
        position:absolute; 
        left:205px; 
	    top:400px;
	}
	
	
/* footer copyright (txt) */
 p.foot {
	    color:#faf5f5;
        position:absolute;  
		left:05px; 
		top:718px;  
		font-family:LatoLight; 
		font-type:lighter; 
		font-size:15px;
        }	


 /****************************************/
 /* style definitions for BIOGRAPHY page */
 /****************************************/
 
/* biography */
p.biohead {
	    color:#cc9966;
        position:absolute;  
		left:10px; 
		top:-33px;  
		font-family:LatoLight; 
		font-type:lighter;
		font-size:33px;
        } 


/* photography (text)*/
p.biotitle {
	    color:#cc9966;
        position:absolute;  
		top:155px;
		left:390px; 
		font-family:LatoLight; 
		font-type:lighter; 
		font-size:48px;
        }
		
/* paragraph of bio */
p.biotxt {
	    color:#f7f3f3;
        position:absolute;  
		top:245px;
		left:350px; 
		width:450px;
		font-family:LatoLight; 
		font-type:lighter; 
		font-size:18px;
		line-height: 1.5;
		}
		
p.biotxt
        span {
			color:#cc9966;
			font-size:20;
		}

        aside
		     a{
	    position:absolute;  
		top:630px;
		left:350px; 
		color:f80a0a;
		font-family:LatoLight; 
		font-type:lighter; 
		font-size:18px;
		line-height: 1.5;
		}


/* image fr */
.imgbio {
	    position:absolute;
	    top:200px;
		left:850px;
		width:607px;
		length:415px;
	    } 
		
/***************************************/
 /* style definitions for GALLERY page */
 /**************************************/

/* header for gallery*/
.img2 {
	    position: absolute; 
		left:0px;
		top:0px;
 		opacity: .5; 
      }

/* portrait (txt) */ 
p.wtitle {
	    color:#cc9966;
        position:absolute;  
		top:320px;
		left:40px; 
		font-family:LatoLight;  
		font-type:lighter; 
		font-size:48px;
        }

/* main picture */ 
.fader{
    position: relative;
    padding-top: 39%;   /* distance from the closest element top, this one is used instead of height */ 
    overflow: hidden;   /* hids what overflow the box */ 
	top:120px;         /* picture's position */
	left:430px;   
	width:902px;    /* size of the pictures */ 
	length:570px; 	 
	} 
 
	   
 .fader .slide{
    position: absolute;  /* positioned relative to .fader*/
    width: 100%;
    height: 100%;
    top: 0;              /* to hide the pictures not current (values other than 0 will not display anything) */ 
    z-index: 1;          /* stack order of pictures */ 
    opacity: 0;          /* for the first load, every pic will be hidden so we choose which one to show*/ 
}
 
.fader img.slide{          
    height: auto;       /* height of the image inside Fader, auto: assumes the sized we defined for Fader */
}

.fader .prev,           /* style for the left, and right arrows */ 
.fader .next{
  position: absolute;
  height: 80px;
  line-height: 55px;
  width: 50px;
  font-size: 100px;
  text-align: center;
  color: #cc9966;
  top: 42%;  
  left: 0;
  z-index: 4;
  margin-top: -25px;
  cursor: pointer;
  opacity: .7;
  transition: all 150ms;
}

.fader .prev:hover,
.fader .next:hover{
  opacity: 1;          /* on hoover it will fade a little bit */ 
}

.fader .next{          /* data target  */ 
  left: auto;
  right: 0;
}

.fader .pager_list{      /* defined empty in gallery.html */  
  position: absolute;
  width: 100%;
  height: 40px;
  line-height: 40px;
  top: 570px;
  text-align: center;
  z-index: 4;
}

.fader .pager_list li{
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 7px;
  background: #fff;
  opacity: .7;
  text-indent: -999px;
  border-radius: 999px;
  cursor: pointer;
  transition: all 150ms;
  color:black;
}

.fader .pager_list li:hover,
.fader .pager_list li.active{
  opacity: 1;
}


 
 

