/* external font definition */	
@font-face {
        font-family: LatoLight;
        src: url(Lato-Light.ttf);
        }
		
/* heading of the page */

.img0 {
	    position:absolute;
	    top:0px;
		left:0px;
		width:1597px;
		lenght:752px;
	     
	 } 

.img1 {
	    position: absolute; 
		left:0px;
		top:0px;
		opacity: .5;
      }

/* this one controls the format of the name text */
h1.head1 {
	    color:#cc9966;
        position:absolute;  
		left:10px; 
		top:-10px;  
		font-family:LatoLight; 
		font-type:lighter; 
		font-size:25px;
        }


/* table1 and table2 definition */
table 
     tbody 
	      tr 
		     td {
				 width:75px; 
				 height:75px
				 }

/* tables attributes */
.t1 {
	    position:absolute; 
        left:05px; 
	    top:108px; 
	    opacity: .5;
	}

.t2 {
	    position:absolute; 
        left:05px; 
	    top:098px; 
	    opacity: .7;
	    color:white;
	}

/* to manipulate text at the bottom*/
h1 {
	    font-family: LatoLight; 
        color:#cc9966; 
	    width:450px; 
	    font-size:48px; 
	    font-type:lighter; 
        position:absolute; 
        left:205px; 
	    top:400px;
	}

 